{
  "profiles": {
    "default": {
      "email": "your-email@gmail.com",
      "password": "your-password",
      "totp_secret": "YOUR_2FA_SECRET_KEY"
    },
    "profile-name": {
      "email": "profile-email@gmail.com",
      "password": "profile-password",
      "totp_secret": "PROFILE_2FA_SECRET"
    }
  }
}
